{% extends "base.html.twig" %}

{% block content %}
	<div class="page-after-reg container content">
		<h4 class="center-align">You've registered successfully! Now you can <a href="/login">log in</a></h4>
	</div>
{% endblock %}