<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">What is it?</h5>
				<p class="grey-text text-lighten-4">This is implementation of test assignment for "2nova Interactive" team.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
						<a class="grey-text text-lighten-3" href="http://github.com/pavgra/2nova-test" target="_blank">
							<i class="fa fa-github"></i> Github Repo
						</a>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="http://vk.com/pavgra" target="_blank">
							<i class="fa fa-vk"></i> Pavel Grafkin
						</a>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="http://2nova.ru/" target="_blank">
							<i class="fa fa-internet-explorer"></i> 2Nova
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2015 Pavel Grafkin
		</div>
	</div>
</footer>