<nav>
	<div class="nav-wrapper container">
		<a href="/" class="brand-logo">2nova-test</a>
		<a href="#" data-activates="mobile-nav" class="button-collapse"><i class="fa fa-bars"></i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{% include 'blocks/navHrefs.html.twig' %}			
		</ul>
		<ul class="side-nav" id="mobile-nav">
			{% include 'blocks/navHrefs.html.twig' %}
		</ul>
	</div>
</nav>