<nav>
	<div class="nav-wrapper container">
		<a href="/" class="brand-logo">2nova-test</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{% if currentUser is empty %}
				<li {% if Page == "register" %} class="active" {% endif %}><a href="/register">Register</a></li>
				<li {% if Page == "login" %} class="active" {% endif %}><a href="/login">Login</a></li>
			{% else %}
				<li><a href="/logout">Log out</a></li>
			{% endif %}
		</ul>
	</div>
</nav>